.footer {
  padding: 55px 0 ;

  @include max-width(768px) {
    padding-bottom: 30px;
  }

  @include max-width(768px) {
    padding-bottom: 14px;
  }

  &__container {
    display: grid;
    gap: 14px;
    grid-template-areas:
      'logo .'
      'copyrigth contact';

    @include max-width(520px) {
      grid-template-areas:
        'logo '
        'contact'
        'copyrigth ';
      gap: 0;
    }
  }

  &__logo {
    grid-area: logo;

    @include max-width(520px) {
      margin-bottom: 44px;
    }
  }

  &__copyrigth {
    grid-area: copyrigth;
    align-self: end;
  }

  &__contact {
    grid-area: contact;
    justify-self: end;
    gap: 7px;

    @include max-width(520px) {
      justify-self: start;
      margin-bottom: 33px;
    }
  }

  &__design {
    padding-bottom: 7px;
  }
}
